/* Contenido copiado desde el estilo en el HTML */
.column-left,
.column-right {
    background-color: #f0f0f0;
    padding: 10px;
    width: 15%;
}

.column-center {
    background-color: #ffffff;
    border: 2px solid #333;
    padding: 20px;
    min-height: 300px;
    width: 65%;
}

/* Estilo personalizado para el icono de ayuda */
.help-icon {
    font-size: 20px;
    color: #007bff;
}

/* Estilos de .drag-container, .draggable-item y .drop-container */
.drag-container {
    border: 2px dashed #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

.draggable-item {
    background-color: #f0f0f0;
    padding: 10px;
    cursor: pointer;
}

.drop-container {
    border: 2px solid #333;
    padding: 20px;
    min-height: 100px;
    position: relative; /* Añade posición relativa para que los modales absolutos se ubiquen correctamente */
}

/* Estilos para hacer que el formulario sea responsive */
#formulario-container {
    width: 100%;
    height: 100%;
}

form {
    width: 100%;
    height: 100%;
}

#formulario-container {
    overflow-y: auto;
}

/* Estilos adicionales para el botón del modal dentro del drop-container (para cualquier contenedor) */
.modal-button-container {
    position: absolute;
    top: 20px;
    right: 5px;
}

/* Ajusta el ancho del modal según tus necesidades */
.modal-container {
    max-width: 80%;
}
