{% extends 'gentelella/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 column-left">
            <!-- Column for the draggable component -->
            <div class="drag-container">
                <div id="draggable-component" class="draggable-item" draggable="true">
                    Formulario de preguntas
                </div>
            </div>
        </div>
        <div class="col-md-6 column-center">
            <!-- Column for the first drop area -->
            <div class="drop-container bg-light border p-3" id="drop-container-1" ondrop="drop(event, 1)" ondragover="allowDrop(event)">
                Arrastre aquí el formulario
            </div>
            <!-- Column for the second drop area -->
            <div class="drop-container bg-light border p-3" id="drop-container-2" ondrop="drop(event, 2)" ondragover="allowDrop(event)">
                Arrastre aquí el formulario
            </div>
            <!-- Column for the third drop area -->
            <div class="drop-container bg-light border p-3" id="drop-container-3" ondrop="drop(event, 3)" ondragover="allowDrop(event)">
                Arrastre aquí el formulario
            </div>
            <!-- Botón de guardar -->
            <div class="form-group">
                <button id="guardar" class="btn btn-primary">Guardar</button>
            </div>
        </div>
        <div class="col-md-3 column-right">
            <!-- Column for information and help -->
            <div class="info-container">
                <h3>Help</h3>
                <button class="btn btn-link help-icon" data-toggle="collapse" data-target="#help-content">
                    <i class="fa fa-question-circle"></i> <!-- Icono de ayuda -->
                </button>
                <div id="help-content" class="collapse">
                    <p>1. Toma el componente del formulario y arrástralo al espacio indicado para crear una nueva tabla de preguntas.</p>
                    <p>2. Al llenar las preguntas, puedes presionar "AGREGAR OTRA PREGUNTA" si deseas añadir diversas preguntas en una tabla.</p>
                    <p>3. Si desea confirmar el registro de las preguntas en la tabla, presione el botón "Guardar".</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/drag_and_drop.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/drag_and_drop.css' %}">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> <!-- Asegúrate de incluir Bootstrap y Font Awesome si aún no los tienes -->
{% endblock %}