{% extends 'gentelella/base.html' %}
{% load static %}
{% block stylesheets %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
<link href="{% static 'vendors/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">

{% endblock stylesheets %}
{% block content %}
<h1>Formulario de preguntas</h1>
<div id="formulario-container">
    <form id="miFormulario">
        {% csrf_token %}
        {% for form, pregunta_text in formset_with_questions %}
            <div class="form-group">
                <label for="{{ form.text_response.id_for_label }}">Pregunta #{{ forloop.counter }}: "{{ pregunta_text }}"</label>
                {% if pregunta_text == "Seleccione las características del proyecto" %}
                    <!-- Para mostrar checkboxes -->
                    {% for option in form.text_response.queryset %}
                        <label>
                            <input type="checkbox" name="{{ form.text_response.name }}" value="{{ option.id }}">
                            {{ option.text }}
                        </label>
                    {% endfor %}
                {% else %}
                    {{ form.text_response }}
                {% endif %}
            </div>
        {% endfor %}
        <button type="button" id="agregarFila">Agregar</button>
    </form>
</div>
<!-- Icono para abrir la tabla de respuestas -->
<i id="icono-apertura" class="fas fa-chevron-down"></i>
<div id="tabla-preguntas-respuestas">
    <h1>Tabla de respuestas</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Eliminar</th>
                {% for pregunta in preguntas %}
                    <th>{{ pregunta.text }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody id="respuesta-body">

        </tbody>
    </table>
    <button id="eliminarTodo" class="btn btn-danger">Eliminar todo</button>
    <a href="{% url 'responder_preguntas' %}" class="btn btn-primary">Ir al formulario</a>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'js/Formulario.js' %}"></script>
{% endblock %}




